language: python

addons:
  apt_packages:
    - pandoc

services:
  - docker

notifications:
  email: false

python:
  - "3.6"

env:
  global:
    - IMAGE_PREFIX=pangeo/
    # Doctr deploy key for pangeo-data/pangeo-stacks
    - secure: "U0r/2RA27GJ5IYD/ETsKWyo0XLB83ykxIUjXKy5fd+5xMESXqukcJ1MNkti3apnMKKDQzGmBvy4HqIT3QobqoiUCVEiHD2yjVMndovvGDtRXk5yhjjH9jVFG3Cy2ZsUGSxR0hpBuFf67RZacCj0Wm6IOZ5DXMsj8bPKMT2PxHN1cDfXhMcj6PfU1jhAHaGL/c3JfUMmmRvUvIblu7p9Fpp9xpqig4RmjXWnsEoJED3HwP2/MNFF/Hl3CNHmczffHP80f4eKYAuCUO5gG41Gigo97kplxsbsdidCw6NqEWuwBQ0OGaKkfiH3Tcl37nlE7Ufnu9tOpZnNJjuBEu/pVDB6CZnOxnVHhs8prYtMUeRq2tNrf/UltNGU5u5BmIOQaa3ylTcJWo4qmatfSIgG0r3vu8zuqBh6iLPnJa1qKfAmFxGVBha/5Z3fdnlTOVgYo8MmSYPcKiuPJaP0ch8YApNKPHVOWmeYVMtuxAnHBvLhklOswdfRLb5DIspMBmsdBsNGlL8ShOrdNchxMKeAkekTg8UKGaYYHCy7o8J4g/ZNIHW3Hb3MHNwKhPFbllj0LX1yHeQ/dmk6+4BSI7/NAwNcNQE8DOs4v02QnBKnNd7XQH6PaCQO8ZE7Fg71i2bDxdBVGdssxi3wMP0HSfmC79rp31lFxkPZ290WnV5Ugrnk="

install:
  - pip install --no-cache-dir -r requirements.txt
  - repo2docker --version
  - docker version

script:
  # - python3 build.py --image-prefix=${IMAGE_PREFIX} base-notebook
  # - python3 build.py --image-prefix=${IMAGE_PREFIX} pangeo-notebook
  - bash ./docs/build_docs.sh

deploy:
  # - provider: script
  #   script: bash docker_push.sh base-notebook
  #   on:
  #     branch: master
  # - provider: script
  #   script: bash docker_push.sh pangeo-notebook
  #   on:
  #     branch: master
  - provider: script
    script: bash ./docs/build_docs.sh && bash ./docs/publish_docs.sh
    on:
      branch: master
